body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    display: none;
  }
  
  #alert-ok, #alert-redirect {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #alert-ok:hover, #alert-redirect:hover {
    background-color: #3e8e41;
  }

.grid-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.grid-item {
    background-color: #ae2424;
    padding-top:0px ;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.grid-item img {
    width: 90%;
    /* Decrease image size to 90% of grid item */
    height: 90%;
    /* Decrease image size to 90% of grid item */
    object-fit: cover;
    margin: 0 auto;
    /* Center the image horizontally */
}

.btn{ 
    height: 90px;
    width: 400px;
    background-color: black;
    color: white;
    border-radius: 5px;

}





.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
} 


 h3{
  color: rgb(116, 116, 116)
}
.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #4d4d4d3a;
  border-radius: 5px;
}

.contact button[type="submit"] {
  background-color:grey;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact button[type="submit"]:hover{
  background-color: #35b5ff; 
}
